.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 30px;
    margin: 30px 0 30px 0;
}

img {
    height: 200px;
}

.btn-details {
    margin-left: 5px;
}

@media screen and (max-width: 992px) {
    .main-grid {
        grid-template-columns: repeat(2, 400px);

    }
}

@media screen and (max-width: 700px) {
    .main-grid {

        grid-template-columns: repeat(1, 500px);
        margin-left: 100px;
    }
}