<footer>
<div>
        <ul class="social-networks">
          <li class="logo">Home</li>
         <li class="logo">About</li>
         <li class="logo">Contact</li>
         <li class="logo">Blog</li>
        
        </ul>
      </div>
      <div>
        <form class="d-flex w-50 form-search" role="search">
          <div class="input-group mb-3">
            <input
              type="search"
              class="form-control rounded-start-5 border-secondary-subtle"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-outline-secondary rounded-end-5 border-secondary-subtle search btn-search"
              type="button"
              id="button-addon2"
            >
              Search
            </button>
          </div>
        </form>
      </div>

      <div class="copyrights">@ CodeFactory 2023</div>
    </footer>

