.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

img {
    height: 200px;
}

.title {
    margin: 40px 0 40px 0;
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

.create-trip {
    margin: 5%;

}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    background-color: rgb(207, 22, 22);
    color: white;
    font-size: 25px;

}

.btn-submit {
    margin-top: 3%;
}

@media screen and (max-width: 992px) {
    .main-grid {
        grid-template-columns: repeat(2, 300px);

    }
}

@media screen and (max-width: 700px) {
    .main-grid {

        grid-template-columns: repeat(1, 300px);

    }
}