<app-hero-photo></app-hero-photo>

<div class="title">Explore China</div>

<div class="main-container">
<div class="container">
    <div class="row row-cols-lg-4 row-cols-sm-1 row-cols-xs-1 g-5">
        <div>
            <div class="card" style="width: 18rem;">
                <img src="assets/photos/photo1.jpg" class="card-img-top" height="200px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Visit Beijing</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Book now</a>
                </div>
            </div>
        </div>
         <div>
            <div class="card" style="width: 18rem;">
                <img src="assets/photos/photo1.jpg" class="card-img-top" height="200px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Visit Beijing</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Book now</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card" style="width: 18rem;">
                <img src="assets/photos/photo2.jpg" class="card-img-top"  height="200px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Great Wall</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Book now</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card" style="width: 18rem;">
                <img src="assets/photos/photo3.jpg" class="card-img-top" width="100%" height="200px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Visit Shanghai</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Book now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>