<app-nav></app-nav>
<app-hero-photo></app-hero-photo>

<div class="title">Explore China</div>


<div class="main-grid">
<div *ngFor="let x of trips" >
  <div class="col">
        <div class="card h-100">
      <img src="{{x.img}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{x.destination}}</h5>
        <p class="card-text">{{x.description}}</p>
        <p class="card-text">{{x.duration}} nights</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">{{x.price}}€ pro Person</small>
      </div>
    </div>
</div>
</div>
</div>



<!-- form to add new trip -->
<div>
<div class="container"><form [formGroup]="newTrip" (ngSubmit)="onSubmit()">
<div>
  <div class="col-md-4">
    <label for="first-name">Photo: </label>
    <input id="first-name" type="text" formControlName="img" class="form-control" placeholder="Download photo" aria-label="First name">
  </div>
  <div class="col-md-4">
    <label for="first-name">Trip Name: </label>
    <input id="first-name" type="text" formControlName="destination" class="form-control" placeholder="City name" aria-label="First name">
  </div>
  <div class="col-md-4">
    <label for="first-name">Trip Description: </label>
     <input id="last-name" type="text" formControlName="duration" class="form-control" placeholder="What we will see there" aria-label="Last name">
  </div>
  <div class="col-md-4">
    <label for="first-name">Trip Duration: </label>
     <input id="last-name" type="text" formControlName="description" class="form-control" placeholder="For how long" aria-label="Last name">
  </div>
  <div class="col-md-4">
    <label for="first-name">Trip Price: </label>
     <input id="last-name" type="text" formControlName="price" class="form-control" placeholder="How much does it cost" aria-label="Last name">
  </div>
</div>
<div class="col-auto">
    <button type="submit" class="btn btn-danger btn-submit">Submit</button>
  </div>
</form></div>
</div>


  