<div class="parallax">
    <div class="card mb-3 card1" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Great Wall</h5>
        <p class="card-text">Stories and Legends of Great Wall</p>
        <p class="card-text"><small class="text-body-secondary">5 minute to read</small></p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="parallax"></div>

<!-- second slide  -->
<div class="parallax2">
    <div class="card mb-3 card1" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Great Wall</h5>
        <p class="card-text">Stories and Legends of Great Wall</p>
        <p class="card-text"><small class="text-body-secondary">5 minute to read</small></p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="parallax2"></div>

<!-- third slide -->

<div class="parallax3">
    <div class="card mb-3 card1" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Great Wall</h5>
        <p class="card-text">Stories and Legends of Great Wall</p>
        <p class="card-text"><small class="text-body-secondary">5 minute to read</small></p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="parallax3"></div>

<!-- fourth slide -->

<div class="parallax4">
    <div class="card mb-3 card1" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Great Wall</h5>
        <p class="card-text">Stories and Legends of Great Wall</p>
        <p class="card-text"><small class="text-body-secondary">5 minute to read</small></p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="text"   >
Travel to China with Us
</div>
<div class="parallax4"></div>



