<div class="parallax">
    <div class="title-blog">Get know more about Chinese culture</div>
</div>
<div class="parallax"></div>

<!-- second slide  -->
<div class="parallax2">
    <div class="row row-cols-1 row-cols-md-2 g-4 card-container">
  <div class="col ">
    <div class="card card1">
      <div class="card-body">
        <h5 class="card-title">Top 10 most visited places in China</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card1">  
      <div class="card-body">
        <h5 class="card-title">New food experience</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card1">
      <div class="card-body">
        <h5 class="card-title">Chinese Holidays</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card1">
      <div class="card-body">
        <h5 class="card-title">Secrets of chinese characters</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="parallax2"></div>

<!-- third slide -->

<div class="parallax3">
    

</div>

<div class="parallax3"></div>

<!-- fourth slide -->

<div class="parallax4">
  
</div>
<div class="parallax4"></div>



