body,
html {
    height: 100%;
}

.parallax {
    /* The image used */
    background: url("/assets/photos/main.jpg");
    /* Full height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax2 {

    background: url("/assets/photos/photo2.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {

    background: url("/assets/photos/photo3.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {

    background: url("/assets/photos/photo4.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    height: 100px;
    background-color: rgba(157, 154, 154, 0.541);
    color: white;
    padding-top: 30px;
    text-align: center;
    font-size: larger;

}


/* .card1 {} */